.alertsPage{
padding:40px;
color:white;
background:#0b1a3a;
min-height:100vh;
font-family:Arial;
}

.title{
margin-bottom:20px;
}

.budgetCard{
background:#1c2b55;
padding:25px;
border-radius:12px;
margin-bottom:30px;
}

.budgetHeader{
display:flex;
justify-content:space-between;
align-items:center;
}

.label{
color:#9aa8d4;
}

.editBtn{
background:#2949a5;
border:none;
padding:10px 14px;
border-radius:8px;
color:white;
cursor:pointer;
}

.progressBar{
width:100%;
height:8px;
background:#2c3b6b;
margin:15px 0;
border-radius:5px;
}

.progress{
height:8px;
background:#22c55e;
border-radius:5px;
}

.remaining{
display:flex;
justify-content:space-between;
}

.percent{
color:#22c55e;
}

.alertContainer{
background:#1c2b55;
padding:25px;
border-radius:12px;
}

.alertHeader{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.addBtn{
background:#eab308;
border:none;
padding:8px 14px;
border-radius:8px;
cursor:pointer;
}

.alertItem{
display:flex;
justify-content:space-between;
align-items:center;
background:#243665;
padding:18px;
border-radius:10px;
margin-bottom:15px;
}

.actions button{
margin-left:10px;
border:none;
cursor:pointer;
}

.edit{
background:#3b82f6;
color:white;
padding:6px 10px;
border-radius:6px;
}

.delete{
background:red;
color:white;
padding:6px 10px;
border-radius:6px;
}

.modalOverlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
display:flex;
align-items:center;
justify-content:center;
}

.modal{
background:#1f2937;
padding:30px;
border-radius:12px;
width:300px;
}

.modal input{
width:100%;
padding:10px;
margin:15px 0;
border-radius:8px;
border:none;
}

.modalButtons{
display:flex;
justify-content:space-between;
}

.cancel{
background:#374151;
color:white;
padding:8px 16px;
border:none;
border-radius:8px;
}

.save{
background:#3b82f6;
color:white;
padding:8px 16px;
border:none;
border-radius:8px;
}