.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile-wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.profile-container{
  width:600px;
  text-align:center;
  color:white;
}

.profile-avatar{
  width:140px;
  border-radius:50%;
  border:4px solid #3b82f6;
}

.change-profile-btn{
  margin-top:10px;
  padding:10px 20px;
  background:#1e3a8a;
  border:1px solid #3b82f6;
  color:white;
  border-radius:8px;
}

.profile-card{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#0f1c44;
  padding:20px;
  border-radius:12px;
  margin-top:20px;
}

.profile-label{
  color:#9ca3af;
}

.profile-value{
  font-size:18px;
}

.edit-btn{
  background:#2563eb;
  border:none;
  padding:10px 20px;
  border-radius:8px;
  color:white;
}

.logout-btn{
  margin-top:30px;
  padding:12px 30px;
  border:2px solid red;
  background:transparent;
  color:red;
  border-radius:10px;
}